
.main {
	padding: 10px 0 10px 0;
}



header {
    text-align: center;
    color: #fff;
    background: #18bc9c;
}

header .container {
    padding-top: 50px;
    padding-bottom: 25px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #FFF;
    background: #2c3e50;
}

.navbar-default .navbar-brand {
	color:#FFF;
}

.navbar-default a.navbar-brand:hover{
	color:#FFF;
}


.navbar-default .navbar-nav > li > a {
  color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #FFF;
  text-decoration: underline;
}


.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}



.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #2c3e50;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #2c3e50;
    font-size: 20px;
    
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #2c3e50;
    background: #2c3e50;
    color: #fff;
    
}



@media(min-width:768px) {
    header .container {
        padding-top: 100px;
        padding-bottom: 50px;
    }
}

footer {
    color: #fff;
    margin-top: 20px;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #2c3e50;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}


footer .btn-outline {
    border: solid 2px #fff;
    color: #fff;
    background: 0 0;    
}

footer .btn-outline:hover,
footer .btn-outline:focus,
footer .btn-outline:active,
footer .btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

footer .btn-social {
    border: 2px solid #fff;
    border-radius: 100%;  
}